<style>
    .image1 {
        background-image: url("{{ .Site.BaseURL }}image/image1.jpg");
    }

    .image2 {
        background-image: url("{{ .Site.BaseURL }}image/image2.jpg");
    }

    .image3 {
        background-image: url("{{ .Site.BaseURL }}image/image3.jpg");
    }

    .image4 {
        background-image: url("{{ .Site.BaseURL }}image/image4.jpg");
    }

    .image5 {
        background-image: url("{{ .Site.BaseURL }}image/image5.jpg");
    }

    .image6 {
        background-image: url("{{ .Site.BaseURL }}image/image6.jpg");
    }
</style>