<main>
    <div class="image image1"></div>


    <section id="cuando" class="section light">
        <div class="section__svg">
            {{ partial "svgs/plane.svg" . }}
        </div>
        <h1 class="section__heading">La Boda</h1>
        <section class="section__split">
            <div>
                <p class="section__subheading">Fecha y hora</p>
                <p class="section__text--bold">
                    {{ .Params.when }}
                </p>
            </div>
            <div>
                <p class="section__subheading">Lugar de la ceremonia</p>
                <p class="section__text--bold">
                    {{ .Params.where.first }}
                </p>
                <p>
                    {{ .Params.where.second }}
                </p>
            </div>
        </section>
        <section class="section__md-content">
            <p>Después de la ceremonia, seguiremos la celebración en el mismo sitio y terminaremos la noche con baile y barra libre hasta las 3:00 a.m.</p>
        </section>
    </section>

    <div class="image image2"></div>
    <section id="nuestra-historia" class="section light">
        {{ $t := .Site.GetPage "/section/nuestra-historia" }}
        <h1 class="section__heading">{{$t.Params.title}}</h1>
        <section class="section__md-content">
            {{ $t.Content }}
        </section>
    </section>
    <div class="image image4"></div>
    <section id="vienes-con-ninos" class="section light">
        <div class="section__svg">
            {{ partial "svgs/plane.svg" . }}
        </div>
        {{ $t := .Site.GetPage "/section/vienes-con-ninos" }}
        <h1 class="section__heading">{{$t.Params.title}}</h1>
        <section class="section__md-content">
            {{ $t.Content }}
        </section>
    </section>

    <div class="image image3"></div>

    <section id="como-llegar" class="section light">
        <div class="section__svg">
            {{ partial "svgs/plane.svg" . }}
        </div>

        {{ $t := .Site.GetPage "/section/como-llegar" }}
        <h1 class="section__heading">{{$t.Params.title}}</h1>
        <section class="section__md-content">
            {{ $t.Content }}
        </section>
    </section>

    <div class="image image6"></div>

    <section id="como-vestirse" class="section light">

        {{ $t := .Site.GetPage "/section/como-vestirse" }}
        <h1 class="section__heading">{{$t.Params.title}}</h1>
        <section class="section__md-content">
            {{ $t.Content }}
        </section>
    </section>

    <section id="regalos" class="section light">
        <div class="section__svg">
            {{ partial "svgs/plane.svg" . }}
        </div>
        {{ $t := .Site.GetPage "/section/regalos" }}
        <h1 class="section__heading">{{$t.Params.title}}</h1>
        <section class="section__md-content">
            {{ $t.Content }}
        </section>
    </section>

    <div class="image image5"></div>

    <section id="more" class="section light" style="text-align:center;">
        <div class="section__svg">
            {{ partial "svgs/plane.svg" . }}
        </div>
        {{ $t := .Site.GetPage "/section/more" }}
        <h1 class="section__heading">{{$t.Params.title}}</h1>
        <section class="section__md-content">
            {{ $t.Content }}
        </section>
    </section>

    <div class="scroll-top">
        <a class="scroll-top__button" href="#top">
            {{ partial "svgs/scroll-up.svg" . }}
        </a>
    </div>
</main>